body {
    padding-top: 70px;
}

.login-form {
    margin: auto;
    max-width: 400px;
}

.login-form .tab-content{
    height: 400px;
    padding: 15px 30px 0 30px;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.input-form{
    margin-top: 15px;
}

.btn-form{
    margin-top: 15px;
}

.label-error{
    color:#B94A48;
}